.ForecastCard {
  padding: 5px 0;
  box-sizing: border-box;
  margin: 1%;
  width: 18%;
}

@media (max-width: 1200px) {
  .ForecastCard {
    width: 30%;
  }
}

@media (max-width: 728px) {
  .ForecastCard {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .ForecastCard {
    width: 98%;
  }
}